:root {
  --accent:#6b3e26;
  --muted:#777;
}

* { 
  box-sizing: border-box;
}

body {
  font-family: Inter, ui-sans-serif, system-ui, Arial, Helvetica, sans-serif;
  margin: 0;
  color: #222;
  background-image: url(https://i.pinimg.com/1200x/16/d8/8c/16d88c35168095738e219fdad44cf4d4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.container {
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px 24px;
  background: rgba(255, 255, 255, 0.85);
  border-bottom: 1px solid #ddd;
  backdrop-filter: blur(3px);
}

.brand a {
  font-size: 22px;
  color: var(--accent);
  text-decoration: none;
  font-weight: 700;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 16px;
  align-items: center;
}

nav li{
  background-color: lightsalmon;
  border-radius: 5px;
}

nav a {
  color: #333;
  text-decoration: none;
  padding: 6px 10px;
  border-radius: 6px;
}

nav a:hover {
  background: #f0f0f0;
}

.date {
  color: var(--muted);
  font-size: 13px;
}

.page-title {
  text-align: center;
  color: #3a2e2e;
  margin-top: 40px;
}

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 4px;
  color: lightsalmon;
}

h3 {
  margin-top: -6px;
  font-size: 14px;
  color: lightsalmon;
}

.stores {
  display: flex;
  flex-direction: column;
  gap: 0px;
}


.store-card {
  width: 100%;
  padding: 14px 18px;
  background: rgba(255, 255, 255, 0.90);
  border-radius: 12px;
  margin: 14px auto;
  border: 1px solid #ddd;

  box-shadow: 0 4px 10px rgba(0,0,0,0.09);
}

.store-card h3 {
  margin: 0 0 4px;
  font-size: 18px;
  color: #3a2e2e;
}

.store-card p {
  margin: 0 0 10px;
  color: #555;
}

.store-wrapper {
  max-width: 850px;
  margin: 20px auto;
  background: rgba(255, 255, 255, 0.85);
  padding: 25px;
  border-radius: 16px;
  box-shadow: 0 4px 14px rgba(0,0,0,0.15);
  backdrop-filter: blur(4px);
}

button, input[type="submit"], .btn {
  background: var(--accent);
  color: #fff;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}

button:hover, .btn:hover {
  opacity: .95;
}

form label{
  display:block;
  margin:8px 0}

.errors{color:red;
  background:#ffecec;
  padding:8px;
  border-radius:6px}

.err{
  color:red}

.msg{
  color:green}

.main-footer {
  padding: 14px;
  text-align: center;
  background: #222;
  color: #fff;
  margin-top: 253px;
  font-size: 14px;
}

table{
  width:100%;
  border-collapse:collapse;
  margin:8px 0}

table th, table td{
  border:1px solid #eee;
  padding:8px;
  text-align:left}

input[type="text"], input[type="email"], input[type="password"], select, input[type="number"]{
  padding:8px;
  border-radius:6px;
  border:1px solid #ddd;
  width:100%}

.small{
  font-size:13px;
  color:var(--muted)}

.trans{
  border:1px solid #eee;
  padding:10px;
  margin:8px 0;
  background:#fff;
  border-radius:8px}